{%extends 'Customer_only_navbar_Loggedin.html'%} {% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Worker Details {% endblock %}</title>
</head>

<body>
    {% block name %}{{customer.customer_firstname}}{%endblock%} {% block pagecontent %}
    <div class="container my-5">
        <div class="row">
            <!-- carousel Image -->
            <div class="col-sm-7">
                <div class="card p-2" style="width: auto;">
{#                    <div id="Worker_{{worker.Worker_work_profile_id}}" class="carousel slide" data-interval="false">#}
{#                        <ol class="carousel-indicators">#}
{#                            <li data-target="#Worker_{{worker.Worker_work_profile_id}}" data-slide-to="0" class="active"></li>#}
{#                            <li data-target="#Worker_{{worker.Worker_work_profile_id}}" data-slide-to="1"></li>#}
{#                            <li data-target="#Worker_{{worker.Worker_work_profile_id}}" data-slide-to="2"></li>#}
{#                        </ol>#}
{#                        <div class="carousel-inner">#}
{#                            <div class="carousel-item active">#}
{#                                <img class="d-block w-100" src="{{worker.Worker_image1.url}}" alt="First slide">#}
{#                            </div>#}
{#                            <div class="carousel-item">#}
{#                                <img class="d-block w-100" src="{{worker.Worker_image2.url}}" alt="Second slide">#}
{#                            </div>#}
{#                            <div class="carousel-item">#}
{#                                <img class="d-block w-100" src="{{worker.Worker_image3.url}}" alt="Third slide">#}
{#                            </div>#}
{#                        </div>#}
{#                        <a class="carousel-control-prev" href="#Worker_{{worker.Worker_work_profile_id}}" role="button" data-slide="prev">#}
{#                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#                            <span class="sr-only">Previous</span>#}
{#                        </a>#}
{#                        <a class="carousel-control-next" href="#Worker_{{worker.Worker_work_profile_id}}" role="button" data-slide="next">#}
{#                            <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#                            <span class="sr-only">Next</span>#}
{#                        </a>#}
{#                    </div>#}
                    <div class="card-body">

                        {%if Incorrect_dates%}
                        <div class="container">
                            <div class="alert alert-danger alert-dismissible fade show my-2" role="alert">
                                <strong>{{Incorrect_dates}}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        {%endif%} {%if Available%}
                        <div class="container">
                            <div class="alert alert-success alert-dismissible fade show my-2" role="alert">
                                <strong>Worker is Available (Send Request to book it)</strong> {%if Message%}
                                <p>
                                    {{Message}}. So there are some chances that you might not get it. As workers are booked on First come first serve policy. You may get this worker if the other person decline his/her request.
                                </p>
                                {%endif%}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        {%endif%} {%if NotAvailable%}
                        <div class="container">
                            <div class="alert alert-danger alert-dismissible fade show my-2" role="alert">
                                <strong>Worker is not Available for this dates!!</strong>
                                <p>
                                    Worker is not available from {{dates.BookWorker_Date_of_Booking}} to {{dates.BookWorker_Date_of_Return}}
                                </p>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        {%endif%}

                        <h5 class="card-title p-1" style="background-color: yellow; text-align: center;">Check Availability
                        </h5>
                        <form action="{% url 'CheckAvailability' worker.Worker_work_profile_id %}" class="px-4 py-3" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-4">
                                    <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="BookWorker_Date_of_Booking" class="form-control" placeholder="Start date" required>
                                </div>
                                <div class="col-4">
                                    <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="BookWorker_Date_of_Return" class="form-control" placeholder="End date" required>
                                </div>
                                <div class="col-4">
                                    <input type="submit" class="btn btn-success" value="Check Availability" />
                                </div>
                            </div>
                        </form>

                        {%if Available%}
                        <h5 class="card-title p-1" style="background-color: yellow; text-align: center;">Send Request to Worker
                        </h5>
                        <form action="/BookWorker/SendRequest_toOwner/" method="post">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="pickupdate"><b>Start Date</b></label>
                                    <input type="text" class="form-control" id="pickupdate" name="BookWorker_Date_of_Booking" value="{{book_data.BookWorker_Date_of_Booking}}" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="returndate"><b>End Date</b></label>
                                    <input type="text" class="form-control" id="returndate" name="BookWorker_Date_of_Return" value="{{book_data.BookWorker_Date_of_Return}}" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="totaldays"><b>Total days</b></label>
                                    <input type="text" class="form-control" id="totaldays" name="Total_days" value="{{book_data.days}}" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="totalamount"><b>Total Amount</b></label>
                                    <input type="text" class="form-control" id="totalamount" name="BookWorker_Total_amount" value="{{book_data.total}}" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="Worker_work_profile_id" name="Worker_work_profile_id" value="{{worker.Worker_work_profile_id}}" hidden>
                                </div>
                                <div class="form-group col-md-12">
                                    <input type="submit" class="btn btn-success btn-block" value="Send Request" />
                                </div>
                            </div>
                        </form>{%endif%}

                    </div>
                </div>
            </div>

            <!-- Information -->
            <div class="col-sm-5">
                <div class="card p-2" style="width: auto;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{worker.Worker_name}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Company</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{worker.Worker_company}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Work</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{worker.Worker_model}}
                            </div>
                        </div>
{#                        <hr>#}
{#                        <div class="row">#}
{#                            <div class="col-sm-3">#}
{#                                <h6 class="mb-0">Fuel Type</h6>#}
{#                            </div>#}
{#                            <div class="col-sm-9 text-secondary">#}
{#                                {{worker.Worker_fuel}}#}
{#                            </div>#}
{#                        </div>#}
{#                        <hr>#}
{#                        <div class="row">#}
{#                            <div class="col-sm-3">#}
{#                                <h6 class="mb-0">Seats</h6>#}
{#                            </div>#}
{#                            <div class="col-sm-9 text-secondary">#}
{#                                {{worker.Worker_No_of_Seats}}#}
{#                            </div>#}
{#                        </div>#}
{#                        <hr>#}
{#                        <div class="row">#}
{#                            <div class="col-sm-3">#}
{#                                <h6 class="mb-0">WorkProfileTemp Type</h6>#}
{#                            </div>#}
{#                            <div class="col-sm-9 text-secondary">#}
{#                                {%if worker.isWorkProfileTemped%} Manual {%else%} Auto {%endif%}#}
{#                            </div>#}
{#                        </div>#}
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">About</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{worker.Worker_description}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Price</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                ₹{{worker.Worker_price}} (per day)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock pagecontent %}

</body>

</html>